<ion-modal-view  class="detail_modal animated slideInDown>" style="background: transparent">
  <div class="close_detmodal" ng-click="close_maintenanceTAModal()">
    <img src="img/close.png"/>
  </div>
  <ion-content
    style="padding:14px;width: 85%;margin: 0 auto;height: 48%;top: 10%;background: #fff;border: 1px solid #eee;">

    <div class="scroll" style="overflow: scroll">

      <div class="item"
           style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;"
           ng-click="datepick(maintain,'estimateTime')"
        >
        <span class="input-label" style="display: inline-block;width: 35%;">
          服务时间:
        </span>

        <span style="display: inline-block;width: 49%;">
          {{maintain.estimateTime!==undefined&&maintain.estimateTime!==null?maintain.estimateTime:'请选择服务时间'}}
        </span>

        <span
          style="display: inline-block;width: 16%;"
          >
          <i class="ion-calendar" style="font-size: 1.5em;"></i>
        </span>

      </div>

      <div class="item"
           style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;"
           ng-click="selfGeoLocation(maintain,'geolocation')"
        >
        <span class="input-label" style="display: inline-block;width: 35%;">
          我的位置:
        </span>

        <span style="display: inline-block;width: 49%;">
          点击获取位置
        </span>

        <span
          style="display: inline-block;width: 16%;"
          >
          <i class="ion-ios-world-outline" style="font-size: 1.5em;"></i>
        </span>

      </div>

      <div class="item"
           style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;"
            ng-if="maintain.geolocation!==undefined&&maintain.geolocation!==null"
        >
        <span class="input-label" style="display: inline-block;width: 35%;">
           经度:
        </span>
        <span>
            {{maintain.geolocation.lng}}
        </span>
      </div>

      <div class="item"
           style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;"
           ng-if="maintain.geolocation!==undefined&&maintain.geolocation!==null"
        >
        <span class="input-label" style="display: inline-block;width: 35%;">
           纬度:
        </span>
        <span>
            {{maintain.geolocation.lat}}
        </span>
      </div>


      <button class="button button-block button-calm" ng-click="upload('createRelativePerson',life_insurance.benefiter)">
        上报服务
      </button>

    </div>

  </ion-content>
</ion-modal-view >
