<ion-modal-view  class="detail_modal animated slideInDown>" style="background: transparent">
  <div class="close_detmodal" ng-click="close_maintainPlanModal()">
    <img src="img/close.png"/>
  </div>
  <ion-content
    style="padding:14px;width: 85%;margin: 0 auto;height: 50%;top: 10%;background: #fff;border: 1px solid #eee;">

    <h3>推荐选择保养计划</h3>

    <div>

      {{routineName}}

    </div>
    <div>
      蓄电池和防冻液建议每两年更换一次，每年入冬前为检查更换时间;
      空调滤芯每6个月更换一次，更换时间为入夏和入冬前（以使用空调或者暖风时间为限)
    </div>



  </ion-content>
</ion-modal-view >
