<ion-modal-view class="carInfo_modal animated slideInDown ">
  <div class="close_detmodal" ng-click="close_matchingCarInfoModal()">
    <img src="img/close.png"/>
  </div>
  <ion-content
    class="carInfo_content"
    style="width: 95%;padding:10px"
    scroll="false"
    >

    <div class="list" scroll="true" style="height: 80%;">
      <div class="item"
           style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:14px;"
           ng-repeat="car in cars"
           ng-click="Mutex(car,'checked',cars)"
        >
            <span style="display: inline-block;font-size: 0.9em;">
              {{car.carNum}}
            </span>
       <span style="font-size: 2em;position: absolute;right: 0%;width: 20%;text-align: center">
         <i ng-if="car.checked!=true" class="ion-ios-checkmark-outline"></i>
         <i ng-if="car.checked==true" class="ion-ios-checkmark"></i>
       </span>
      </div>

    </div>


    <div
      class="bar bar-assertive"
      style="width: 70%;margin-left:15%;margin-right:15%;"
      ng-click="bind_car_info(cars)"
      >
      <div class="title">确认车辆信息</div>
    </div>


  </ion-content>

</ion-modal-view>
