<ion-modal-view  class="detail_modal animated slideInDown>" style="background: transparent">
  <div class="close_detmodal" ng-click="closeModal()">
    <img src="img/close.png"/>
  </div>
  <ion-content
    style="padding:14px;width: 85%;margin: 0 auto;height: 50%;top: 10%;background: #fff;border: 1px solid #eee;">


    <div class="scroll" style="overflow: scroll">



      <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;">
             <span class="input-label" style="display: inline-block;">
              姓名:
            </span>
        <input type="text" placeholder="输入亲属姓名"
               style="display: inline-block"  ng-value="modal.perName"
               ng-model="modal.perName"/>
      </div>


      <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;position: relative">

        <ion-slide-box on-slide-changed="slideChanged($index)" style="background-color:transparent;">
          <ion-slide>
            <div class="item"
                 ng-click="addAttachment(modal,'perIdCard1_img')"
                 style="background-color:transparent;border: 0px;">
              <div
                style="padding-left:10px;padding-right: 10px; position: relative;background-color:transparent;"
                >
                  <span class="input-label" style="display: inline-block;width: 80%;background-color:transparent;">
                    身份证正面:
                  </span>
                <span style="font-size: 2em;position: absolute;right: 15%;background-color:transparent;">
                    <i class="ion-camera"></i>
                  </span>
              </div>
            </div>
            <div class="item"
                 style="position: relative;margin-bottom: 20px;background-color:transparent;border:1px solid #222;">
              <div style="width:  100%;margin-left:0%;height:160px;border:1px dashed #9e9e9e">
                <img
                  style="max-width: 100%;"
                  ng-if="modal.perIdCard1_img!==undefined&&modal.perIdCard1_img!==null"
                  ng-src="{{modal.perIdCard1_img}}"/>

              </div>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="item"
                 ng-click="addAttachment(modal,'perIdCard2_img')"
                 style="background-color:transparent;border: 0px;">
              <div
                style="padding-left:10px;padding-right: 10px; position: relative;background-color:transparent;"
                >
                  <span class="input-label" style="display: inline-block;width: 80%;background-color:transparent;">
                    身份证反面:
                  </span>
                <span style="font-size: 2em;position: absolute;right: 15%;background-color:transparent;">
                    <i class="ion-camera"></i>
                  </span>
              </div>
            </div>

            <div class="item"
                 style="position: relative;margin-bottom: 20px;background-color:transparent;border:1px solid #222;">
              <div style="width:  100%;margin-left:0%;height:160px;border:1px dashed #9e9e9e">
                <img
                  style="max-width: 100%;"
                  ng-if="modal.perIdCard2_img!==undefined&&modal.perIdCard2_img!==null"
                  ng-src="{{modal.perIdCard2_img}}"/>
              </div>
            </div>
          </ion-slide>

        </ion-slide-box>
      </div>

      <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;position: relative">
             <span class="input-label" style="display: inline-block;">
              身份证:
            </span>
        <input type="text" placeholder="上传身份证照片"
               style="display: inline-block"
               disabled="true"/>
            <span class="camera"
                  style="position: absolute;right:10%;top:30%;font-size: 1.5em;"
                  ng-click="addAttachment(modal,'perIdCard_img')"
              >
              <i class="ion-android-camera"></i>
            </span>
      </div>

      <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;">
            <span class="input-label" style="display: inline-block;width:55%;">
              选择亲属关系:
            </span>
            <span class="input-label" style="display: inline-block;">
              {{modal.relation}}
            </span>
        <div style="position: absolute;right: 15%;top:30%;bottom: 30%;">
              <span ng-click="ActionSheet(['老人','孩子','配偶'],modal,'relation','relType')">
                <i class="ion-chevron-down"></i>
              </span>
        </div>
      </div>

      <button class="button button-block button-calm" ng-click="upload('createRelativePerson',modal,'perIdCard_img')">
        关联亲属信息
      </button>

    </div>

  </ion-content>
</ion-modal-view >
