<ion-modal-view  class="detail_modal select_pct_modal animated slideInDown>" style="background: transparent">
  <div class="close_detmodal" ng-click="close_selectPCTModal()">
    <img src="img/close.png"/>
  </div>
  <ion-content
    style="padding:14px;width: 85%;margin: 0 auto;height: 48%;top: 10%;background: #fff;border: 1px solid #eee;">

    <div class="scroll" style="overflow: scroll">

      <div class="list" style="margin-bottom: 0px;">
        <ul class="ul-tabs" style="padding-left:6%;padding-right:6%;">
          <!-- 省 -->
          <li style="width:33%;">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[tabTag=='province']"
                 ng-click="tab_change('province')">
                  <span style="position:absolute;left: 20%;top:40%;">
                     {{area.province}}
                  </span>
            </div>
          </li>

          <!-- 市 -->
          <li style="width:33%">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[tabTag=='city']"
                 ng-click="tab_change('city')">
                   <span style="position:absolute;left: 20%;top:40%;">
                     {{area.city}}
                   </span>
            </div>
          </li>

          <!-- 县 -->
          <li style="width:33%;">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[tabTag=='town']"
                 ng-click="tab_change('town')">
                   <span style="position:absolute;left: 20%;top:40%;">
                      {{area.town}}
                   </span>

            </div>
          </li>

        </ul>

      </div>

      <!-- province 省列表选择 -->
      <div class="item"
           style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;"
           ng-if="tabTag=='province'"
        >
        <span
          class="input-label"
          ng-repeat="province in provinces"
          ng-class="{true: 'selected', false: ''}[province.selected==true]"
          ng-click="Mutex(province,'selected',provinces);Set(area,'province',province.provinceName);fetchCitiesByProvince(province.provinceName)"
          >
          {{province.provinceName}}
        </span>
      </div>

      <!-- city 市列表选择 -->
      <div class="item"
           style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;"
           ng-if="tabTag=='city'"
        >
        <span
          class="input-label"
          ng-repeat="city in cities"
          ng-class="{true: 'selected', false: ''}[city.selected==true]"
          ng-click="Mutex(city,'selected',cities);Set(area,'city',city.cityName);fetchTownsByCity(city.cityName)"
          >
          {{city.cityName}}
        </span>
      </div>

      <!-- town 城镇列表选择 -->
      <div class="item"
           style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;"
           ng-if="tabTag=='town'"
        >
        <span
          class="input-label"
          ng-repeat="town in towns"
          ng-class="{true: 'selected', false: ''}[town.selected==true]"
          ng-click="Mutex(town,'selected',towns);"
          >
          {{city.cityName}}
        </span>
      </div>





      <!--<button class="button button-block button-calm" ng-click="commit_daily()">-->
        <!--上报服务-->
      <!--</button>-->

    </div>

  </ion-content>
</ion-modal-view >
