<ion-modal-view class="carInfo_modal animated slideInDown ">
  <div class="close_detmodal" ng-click="closeDemoModal1()">
    <img src="img/close.png"/>
  </div>
  <ion-content class="carInfo_content" style="width:95%;padding:10px;height:60%;">

    <div style="height:90%;margin-bottom:15%;">
      <img src="img/enginNum.jpg" style="padding-top: 10%;"/>
    </div>

    <div
      class="bar bar-footer bar-assertive"
      style="width: 70%;margin-left:15%;margin-right:15%;"
      ng-click="closeDemoModal1()"
    >
      <div class="title">确认</div>
    </div>


  </ion-content>

</ion-modal-view>
