<ion-view view-title="主页">
  <ion-content class="background">

    <div class="banner">
      <img src="img/banner@2x.png"/>
    </div>
    <div class="row">
      <div class="col tabs_col car_insurance" ng-click="tab_change(0)">
        <div style="text-align: center">
          <img src="img/car_insurance@2x.png" class="animated zoomIn"/>
        </div>
        <div class="label">
          <span>车险</span>
        </div>
      </div>
      <div class="col tabs_col life_insurance" ng-click="tab_change(1)">
        <div style="text-align: center">
          <img src="img/life_insurance@2x.png" class="animated zoomIn"/>
        </div>
        <div class="label">
          <span>寿险</span>
        </div>
      </div>
      <div class="col tabs_col maintain" ng-click="tab_change(2)">
        <div style="text-align: center">
          <img src="img/maintain.png" class="animated zoomIn"/>
        </div>
        <div class="label">
          维修
        </div>
      </div>
      <div class="col tabs_col drive_service" ng-click="tab_change(3)">
        <div style="text-align: center">
          <img src="img/drivingService.png" class="animated zoomIn"/>
        </div>
        <div class="label">
          车驾管服务
        </div>
      </div>
    </div>


    <!-- 寿险 -->
    <div class="list " ng-if="tabIndex==1" scroll="true" style="background-color:rgba(255,255,255,0);">

      <div class="item item-divider">
        填写寿险意向
      </div>

      <div class="list list-inset padding" style="margin-bottom:40px;background-color:transparent">

        <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color:transparent">
          <span style="display: inline-block;width: 10%;">
          </span>
          <span class="input-label" style="display: inline-block;width: 35%;text-align: left">
              投保人:
          </span>
          <div
            ng-if="life_insurance.order.insurer.perName==undefined||life_insurance.order.insurer.perName==null"
            style="display: inline-block;width: 40%;color: rgba(17, 17, 17, 0.42);font-size: 14px;text-align: left"
            >
              <span>请选择投保人</span>
          </div>
          <div
            ng-if="life_insurance.order.insurer.perName!==undefined&&life_insurance.order.insurer.perName!==null"
            style="display: inline-block;width: 40%;font-size: 14px;text-align: left">
            {{life_insurance.order.insurer.perName}}
          </div>

          <div style="display: inline-block;width: 15%;text-align: left"
               ng-click="fetchRelative(life_insurance.order,'insurer')">
            <span style="font-size: 1.4em;"><i class="ion-chevron-down"></i></span>
          </div>
        </div>

        <!-- 被保险人 -->
        <div class="item"
             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color:transparent">
          <span style="display: inline-block;width: 10%;">
          </span>
          <span class="input-label" style="display: inline-block;width: 35%;text-align: left;">
              被保险人:
          </span>
          <div
            ng-if="life_insurance.order.insuranceder.perName==undefined||life_insurance.order.insuranceder.perName==null"
            style="display: inline-block;width: 40%;color: rgba(17, 17, 17, 0.42);font-size: 14px;text-align: left;"
            >
            <span>请选择被保险人</span>
          </div>
          <div
            ng-if="life_insurance.order.insuranceder.perName!==undefined&&life_insurance.order.insuranceder.perName!==null"
            style="display: inline-block;width: 40%;font-size: 14px;text-align: left;"
            >
            {{life_insurance.order.insuranceder.perName!==undefined&&life_insurance.order.insuranceder.perName!==null?
            life_insurance.order.insuranceder.perName:'请选择被保险人'}}
          </div>
          <div style="display: inline-block;width: 15%;text-align: left"
               ng-click="fetchRelative(life_insurance.order,'insuranceder')">
            <span style="font-size: 1.4em;"><i class="ion-chevron-down"></i></span>
          </div>
        </div>

        <!-- 受益人 -->
        <div class="item"
             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color:transparent">
          <span style="display: inline-block;width: 10%;"></span>
            <span class="input-label" style="display: inline-block;width: 35%;text-align: left;">
              受益人:
            </span>
          <div
            ng-if="life_insurance.order.benefiter.perName==undefined||life_insurance.order.benefiter.perName==null"
            style="display: inline-block;width: 40%;color: rgba(17, 17, 17, 0.42);font-size: 14px;text-align: left;"
            >
            <span>请选择受益人</span>
          </div>
          <div
            ng-if="life_insurance.order.benefiter.perName!==undefined&&life_insurance.order.benefiter.perName!==null"
            style="display: inline-block;width: 40%;font-size: 14px;text-align: left;"
            >
            {{life_insurance.order.benefiter.perName}}
          </div>
          <div style="display: inline-block;width: 15%;text-align: left;"
               ng-click="fetchRelative(life_insurance.order,'benefiter')">
            <span style="font-size: 1.4em;"><i class="ion-chevron-down"></i></span>
          </div>

        </div>

        <!-- 需要的保障 -->
        <div class="item"
             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color:transparent">
          <span style="display: inline-block;width: 10%;"></span>
            <span class="input-label" style="display: inline-block;width: 35%;text-align: left;">
               需要的保障::
            </span>
          <div
            ng-if="life_insurance.order.insuranceType==undefined||life_insurance.order.insuranceType==null"
            style="display: inline-block;width: 40%;color: rgba(17, 17, 17, 0.42);font-size: 14px;text-align: left;"
            >
            <span>请选择保障</span>
          </div>
          <div
            ng-if="life_insurance.order.insuranceType!==undeifned&&life_insurance.order.insuranceType!==null"
            style="display: inline-block;width: 40%;font-size: 14px;text-align: left;"
            >
            {{life_insurance.order.insuranceType}}
          </div>

          <div style="display: inline-block;width: 15%;text-align: left;"
               ng-click="lifeInsuranceder_insuranceType_select()">
            <span style="font-size: 1.4em;"><i class="ion-chevron-down"></i></span>
          </div>

        </div>

        <!-- 有无社保 -->

        <div class="item"
             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color:transparent">
          <span style="display: inline-block;width: 10%;"></span>
          <span class="input-label" style="display: inline-block;width: 35%;text-align: left;">
             有无社保:
          </span>
          <div style="display: inline-block;width: 40%;font-size: 14px;text-align: left;">
            {{life_insurance.order.hasSocietyInsurance==true?'有':'无'}}
          </div>

          <div style="display: inline-block;width: 25%;text-align: left;"
               ng-click="Toggle('boolean',life_insurance.order,'hasSocietyInsurance')">
            <i ng-if="life_insurance.order.hasSocietyInsurance!=true" class="ion-ios-checkmark-outline" style="font-size: 1.6em;"></i>
            <i ng-if="life_insurance.order.hasSocietyInsurance==true" class="ion-ios-checkmark" style="font-size: 1.6em;"></i>
          </div>
        </div>


        <div class="item"
             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color:transparent">
          <span style="display: inline-block;width: 10%;"></span>
          <span class="input-label" style="display: inline-block;width: 35%;text-align: left;">
            有无商业保险:
          </span>
          <div style="display: inline-block;width: 40%;font-size: 14px;text-align: left;">
            {{life_insurance.order.hasCommerceInsurance==true?'有':'无'}}
          </div>

          <div style="display: inline-block;width: 25%;text-align: left;"
               ng-click="Toggle('boolean',life_insurance.order,'hasCommerceInsurance')">
            <i ng-if="life_insurance.order.hasCommerceInsurance!=true" class="ion-ios-checkmark-outline" style="font-size: 1.6em;"></i>
            <i ng-if="life_insurance.order.hasCommerceInsurance==true" class="ion-ios-checkmark" style="font-size: 1.6em;"></i>
          </div>
        </div>

        <div class="item"
             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color:transparent">
          <span style="display: inline-block;width: 10%;"></span>
          <span class="input-label" style="display: inline-block;width: 35%;text-align: left;">
              计划保费:
          </span>
          <!--<div style="display: inline-block;width: 40%;color: rgba(17, 17, 17, 0.42);font-size: 14px;">-->
          <!--{{life_insurance.order.hasCommerceInsurance==true?'有':'无'}}-->
          <!--</div>-->
          <input type="text" placeholder="请输入...."
                 style="display: inline-block;width:65%;background-color:transparent" ng-value="life_insurance.order.planInsuranceFee"
                 ng-model="life_insurance.order.planInsuranceFee"/>
        </div>




        <div class="bar bar-footer  bar-assertive" style="position: static" ng-click="saveLifeInsuranceIntend()">
          <h1 class="title">提交寿险意向</h1>
        </div>

      </div>


    </div>


    <!-- 车险 -->
    <div ng-if="tabIndex==0" class='home-tab' style="background-color: transparent;">
      <div class="list list-inset padding" style="margin-bottom:40px;background-color: transparent;">
        <div class="item"
             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;">

            <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
              车牌:
            </span>
            <span style="width: 65%;display: inline-block;text-align: left;">
              <input type="text" placeholder="请输入您的车牌"
                     style="display:inline-block;background-color: transparent;"
                     ng-value="carInfo.carNum"
                     ng-model="carInfo.carNum"
                />
            </span>
            <span
              class="camera"
              style="position: absolute;right:5%;top:30%;font-size: 1.5em;"
              ng-click="selectCarInfoByCarNum()"
              >
            <i class="ion-chevron-down"></i>
          </span>
        </div>

        <div class="item"
             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;"
          >
            <span class="input-label" style="display:inline-block;width: 25%;text-align: left">
              姓名:
            </span>
          <span style="width: 65%;display: inline-block;text-align: left;">
                <input type="text"
                       placeholder="输入车主姓名"
                       style="display: inline-block;width: 65%;background-color:transparent;"
                       ng-value="carInfo.ownerName"
                       ng-model="carInfo.ownerName"/>
            </span>
        </div>



        <div class="item"
             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
             padding:10px;position: relative;background-color:transparent;">
          <span class="input-label" style="display: inline-block;width: 25%;text-align: left;">
                身份证:
          </span>
          <span style="width: 65%;display: inline-block;text-align: left">
            <input type="text" placeholder="请输入被保险人身份证"
                   style="display: inline-block;background-color:transparent;"
                   ng-value="carInfo.ownerIdCard"
                   ng-model="carInfo.ownerIdCard"
                   ng-change="filterInfoByPerIdCard(carInfo.ownerIdCard)"
              />
          </span>
          <span
            class="camera"
            style="position: absolute;right:5%;top:30%;font-size: 1.5em;"
            ng-click="addAttachment(carInfo,'ownerIdCard_img')"
            >
            <i class="ion-android-camera"></i>
          </span>

        </div>


        <!--<div class="item"-->
        <!--style="position: relative;margin-bottom: 20px;background-color:transparent;border:1px solid #222;"-->
        <!--ng-if="carInfo.ownerIdCard_img!==undefined&&carInfo.ownerIdCard_img!==null"-->
        <!-->


        <div class="item"
             style="position: relative;margin-bottom: 0px;background-color:transparent;border:none;"
             ng-if="carInfo.ownerIdCard_img!==undefined&&carInfo.ownerIdCard_img!==null"
          >
          <div style="width:  60%;height:160px;border:1px dashed #9e9e9e">
            <img ng-src="{{carInfo.ownerIdCard_img}}" alt="" style="max-width: 70%;margin-top:5%;"/>
          </div>
        </div>


        <div class="item"
             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;"
             ng-click="datepick(carInfo,'issueDate')"
          >
            <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                发证日期:
            </span>

          <span style="display: inline-block;width: 65%;color:#888;font-size: .9em;text-align: left;">
              {{carInfo.issueDate!==undefined&&carInfo.issueDate!==null?carInfo.issueDate:'点击选择发证日期'}}
          </span>

          <span
            style="position: absolute;right: 5%;top:30%;font-size: 1.5em;"
            >
              <i class="ion-calendar"></i>
            </span>
        </div>

        <div
          class="item item-divider"
          style="margin:1px;border:0px;padding:10px;position: relative;background-color:transparent;"
          >
          <span>绑定车辆信息</span>
        </div>




            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;">

              <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                厂牌型号:
              </span>
              <span style="width: 65%;display: inline-block;text-align: left;">
                <input type="text" placeholder="输入厂牌型号"
                       style="display:inline-block;background-color: transparent;" ng-value="carInfo.factoryNum"
                       ng-model="carInfo.factoryNum"
                  />
              </span>
              <span style="display: inline-block;position: absolute;right: 5%;">
                <i class="ion-help-circled" style="font-size: 1.5em;" ng-click="setIsShowPicture()"></i>
              </span>
            </div>

            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;">

              <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                发动机号:
              </span>
              <span style="width: 65%;display: inline-block;text-align: left;">
                <input type="text" placeholder="输入发动机号"
                       style="display:inline-block;background-color: transparent;" ng-value="carInfo.engineNum"
                       ng-model="carInfo.engineNum"
                  />
              </span>
              <span style="display: inline-block;position: absolute;right: 5%;">
                <i class="ion-help-circled" style="font-size: 1.5em;" ng-click="setIsShowPicture1()"></i>
              </span>
            </div>

            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;">

              <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                车架号:
              </span>
              <span style="width: 65%;display: inline-block;text-align: left;">
                <input type="text" placeholder="设置车架号"
                       style="display:inline-block;background-color: transparent;" ng-value="carInfo.frameNum"
                       ng-model="carInfo.engineNum"
                  />
              </span>
              <span style="display: inline-block;position: absolute;right: 5%;">
                <i class="ion-help-circled" style="font-size: 1.5em;" ng-click="setIsShowPicture2()"></i>
              </span>
            </div>

      </div>


      <div class="list list-inset padding" style="margin-bottom:40px;background-color:transparent;">
        <div class="bar bar-footer  bar-assertive" style="position: static" ng-click="postCarInfo()">
          <h1 class="title">保存车辆信息</h1>
        </div>
      </div>
    </div>


    <!-- 维修 -->
    <div class="list " ng-if="tabIndex==2">

      <div class="list" style="margin-bottom: 0px;">
        <ul class="ul-tabs transparent"
            style="background: rgb(203,203,203);background-color: transparent;border-bottom: 0px;">
          <li style="width:33.3%;">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[subTabIndex==0]"
                 ng-click="subTab_change(0)"
                 style="background-color: transparent;
                       ">
              <span style="position:absolute;left: 20%;top:40%;color: black;">
                日常保养
              </span>
            </div>
          </li>

          <li style="width:33.3%">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[subTabIndex==1]"
                 ng-click="subTab_change(1)"
                 style="background-color: transparent;
                       ">
            <span style="position:absolute;left: 20%;top:40%;color: black;">
              故障维修
            </span>

            </div>
          </li>

          <li style="width:33.3%">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[subTabIndex==2]"
                 ng-click="subTab_change(2)"
                 style="background-color: transparent;
                        ">
            <span style="position:absolute;left: 25%;top:40%;color: black;">
              事故维修
            </span>

            </div>
          </li>

        </ul>
      </div>


      <div style="height: 100%;margin-top:2px;">
        <!-- 日常保养 -->
        <div ng-if="subTabIndex==0">
          <div class="item item-divider" style="background-color: transparent;border-top:0px;">
            服务项目列表
          </div>

          <div class="list" style="background-color: transparent;">
            <div class="item" ng-repeat="item in dailys" style="background-color: transparent;padding: 0;">

              <div class="row" ng-click="daily_check(item)">
                <div class="col-80" style="padding-top: 1%;">
                  <span>{{item.subServiceTypes}}</span>
                </div>
                <div class="col-20" style="position: relative;font-size: 2em;">
                  <i ng-if="item.checked!=true" class="ion-ios-checkmark-outline"></i>
                  <i ng-if="item.checked==true" class="ion-ios-checkmark"></i>
                </div>



              </div>
            </div>
          </div>

          <div>
            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color: transparent;">
              <span class="input-label" style="display: inline-block;width:20%;padding-left: 3%;max-width: 150px;">
                里程:
              </span>
              <input type="text" placeholder="请输入您的里程"
                     style="display: inline-block;background-color: transparent;width:35%"
                     ng-model="miles"
                />
              <button class="button button-stable" style="display: inline-block;" ng-click="getMaintainPlan(miles)">
                查看保养计划
              </button>
            </div>


            <button class="button button-block button-positive" ng-click="pickMaintainDaily('maintain',0)">
              选择附近的维修厂
            </button>
            <a id="maintenance_anchor"></a>
            <button class="button button-block button-positive" ng-click="open_maintenanceTAModal()">
              提交服务项目
            </button>
          </div>

        </div>

        <!-- 故障维修 -->
        <div class="list list-inset padding" style="margin-bottom:40px;padding:3px;background-color: transparent;" ng-if="subTabIndex==1">


          <ion-slide-box on-slide-changed="slideChanged($index)" style="background-color:transparent;">
            <ion-slide>
              <div class="item"
                   style="margin:1px;border:0px;padding:10px;position: relative;background-color:transparent;">
                <span class="input-label" style="display: inline-block;width: 35%;text-align: left;">
                       故障文字描述:
                </span>

                <div style="width: 90%;margin-left:5%;margin-right:5%;border:1px solid #222;">

                  <textarea
                    style="width:100%;height:80px;background-color: transparent;"
                    placeholder="请描述故障..."
                    ng-model=" maintain.description.text"
                    ng-value="maintain.description.text"
                    ></textarea>
                </div>
              </div>
            </ion-slide>

            <ion-slide>
              <div class="item"
                   style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;position: relative;background-color:transparent;"

                >
                <span class="input-label" style="display: inline-block;width: 55%;text-align: left;">
                       上传故障描述视频:
                </span>
                <span class="camera"
                      style="width:45%;display: inline-block;font-size: 1.4em;"
                  >
                  <i class="ion-android-camera" ng-click="startCapture()"></i>
                </span>
              </div>
            </ion-slide>

            <ion-slide>
              <div class="item"
                   style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;position: relative;background-color:transparent;"
                   ng-click=""
                >
                <span class="input-label" style="display: inline-block;width: 55%;text-align: left;">
                       上传故障描述音频:
                </span>

                <div class="item" style="background-color: transparent;">
                  <button class="button "
                          ng-click="startRecord()"
                          style="background-color: transparent;">
                    <span>
                    <i class="ion-mic-a"></i>
                    </span>
                    <span>record</span>
                  </button>
                  <button class="button" ng-click="stopRecord()" style="background-color: transparent;">
                    <span>
                    <i class="ion-pause"></i>
                    </span>
                    <span>stop</span>
                  </button>
                  <button class="button" ng-click="play()" style="background-color: transparent;">
                    <span>
                    <i class="ion-play"></i>
                    </span>
                    <span>play</span>
                  </button>
                </div>
              </div>
            </ion-slide>
          </ion-slide-box>


          <div class="item"
               style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background: transparent">
            <span class="input-label" style="display: inline-block;">
              选择维修厂:
            </span>
            <span>
              {{maintain.unit!==undefined&&maintain.unit!==null?maintain.unit.unitName:''}}
            </span>
            <span ng-click="pickMaintain('maintain',1)" style="font-size: 150%;">
                <i class="ion-ios-arrow-down" ></i>
            </span>
          </div>


          <div class="bar bar-footer  bar-assertive" style="position: static" ng-click="open_maintenanceTAModal()">
            <h1 class="title">确认故障维修</h1>
          </div>
        </div>

        <!-- 事故维修 -->
        <div ng-if="subTabIndex==2">
          <div class="item item-divider" style="background-color:transparent;">
            事故状况
          </div>

          <div class="list">

            <div class="item" style="background-color: transparent;">
              <div class="row" ng-click="accidant_check('已报案')">
                <div class="col-80">
                  <span>已报案</span>
                </div>
                <div class="col-20" style="position: relative;font-size: 2em;">
                  <i ng-if="accident.type!='已报案'" class="ion-ios-checkmark-outline"></i>
                  <i ng-if="accident.type=='已报案'" class="ion-ios-checkmark"></i>
                </div>
              </div>
            </div>

            <div class="item" style="background-color: transparent;">
              <div class="row" ng-click="accidant_check('未报案')">
                <div class="col-80">
                  <span>未报案</span>
                </div>
                <div class="col-20" style="position: relative;font-size: 2em;">
                  <i ng-if="accident.type!='未报案'" class="ion-ios-checkmark-outline"></i>
                  <i ng-if="accident.type=='未报案'" class="ion-ios-checkmark"></i>
                </div>
              </div>
            </div>

            <div class="item" style="background-color: transparent;">
              <div class="row" ng-click="accidant_check('代索赔')">
                <div class="col-80">
                  <span>代索赔</span>
                </div>
                <div class="col-20" style="position: relative;font-size: 2em;">
                  <i ng-if="accident.type!='代索赔'" class="ion-ios-checkmark-outline"></i>
                  <i ng-if="accident.type=='代索赔'" class="ion-ios-checkmark"></i>
                </div>
              </div>
            </div>

            <button class="button button-block button-assertive" ng-click="open_maintenanceTAModal()">
              确认事故状况
            </button>
          </div>

        </div>

      </div>

    </div>


    <!-- 车驾管 -->
    <div ng-if="tabIndex==3" class='home-tab'>

      <div class="list" style="margin-bottom: 0px;">
        <ul class="ul-tabs transparent" style="padding-left:6%;padding-right:6%;border-bottom: 0px;">
          <!-- 代办车辆年审 -->
          <li style="width:25%;">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[service=='代办车辆年审']"
                 ng-click="service='代办车辆年审'">
                  <span style="position:absolute;left: 20%;top:40%;">
                     审车
                  </span>
            </div>
          </li>

          <!-- 代办行驶证年审 -->
          <li style="width:25%">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[service=='代办行驶证年审']"
                 ng-click="service='代办行驶证年审'">
                   <span style="position:absolute;left: 20%;top:40%;">
                     审证
                   </span>
            </div>
          </li>

          <!-- 接送机 -->
          <li style="width:25%;">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[service=='接送机']"
                 ng-click="service='接送机'">
                   <span style="position:absolute;left: 20%;top:40%;">
                    接送机
                   </span>
            </div>
          </li>
          <!-- 取送车 -->
          <li style="width:25%;">
            <div class="cell"
                 ng-class="{true: 'selected', false: ''}[service=='取送车']"
                 ng-click="service='取送车'">
                   <span style="position:absolute;left: 20%;top:40%;">
                     取送车
                   </span>
            </div>
          </li>
        </ul>
      </div>


      <div class="list list-inset padding" style="margin-bottom:40px;background: transparent" ng-if="service=='代办车辆年审'">

        <div class="item" style="margin:1px;border-top:0px;border-bottom:1px solid #222;border-left:0px;border-right:0px;padding:10px;background: transparent">
          <span class="input-label" style="display: inline-block;">
            选择车管所:
          </span>
          <span>
            {{carManage.carValidate.servicePlace!==undefined&&carManage.carValidate.servicePlace!==null?carManage.carValidate.servicePlace:''}}
          </span>
          <span ng-click="pickMaintain(21,0)" style="font-size: 150%;">
              <i class="ion-ios-arrow-down" ></i>
          </span>
        </div>

        <div class="item" style="margin:1px;border-top:0px;border-bottom:1px solid #222;border-left:0px;border-right:0px;padding:10px;background: transparent">
          <span class="input-label" style="display: inline-block;">
            服务人员:
          </span>
          <span ng-click="service_person_select(service_persons)">
                  {{carManage.carValidate.servicePerson!==undefined&&carManage.carValidate.servicePerson!==null?carManage.carValidate.servicePerson.perName:''}}
            <span style="font-size: 1.6em;">
              <i class="ion-ios-arrow-down"></i>
            </span>
          </span>
        </div>

        <div class="item" style="margin:1px;border-top:0px;border-bottom:1px solid #222;border-left:0px;border-right:0px;padding:10px;background: transparent">
          <span class="input-label" style="display: inline-block;">
            服务费:
          </span>
          <span>
            $40000
          </span>
        </div>

        <div class="bar bar-footer  bar-assertive" style="position: static" ng-click="open_carManageTAModal()">
          <h1 class="title">确认</h1>
        </div>
      </div>



      <div class="list list-inset padding" style="margin-bottom:40px;background: transparent" ng-if="service=='代办行驶证年审'">

        <div class="item" style="margin:1px;border-top:0px;border-bottom:1px solid #222;border-left:0px;border-right:0px;padding:10px;background: transparent">
          <span class="input-label" style="display: inline-block;">
            选择审证所:
          </span>
          <span>
            {{carManage.paperValidate.servicePlace}}
          </span>
          <span ng-click="pickPaperValidate()" style="font-size: 1.6em;">
              <i class="ion-ios-arrow-down" ></i>
          </span>
        </div>

        <div class="item" style="margin:1px;border-top:0px;border-bottom:1px solid #222;border-left:0px;border-right:0px;padding:10px;background: transparent">
          <span class="input-label" style="display: inline-block;">
            服务人员:
          </span>
          <span ng-click="service_person_select(service_persons)">
                 {{carManage.paperValidate.servicePerson!==undefined&&carManage.paperValidate.servicePerson!==null?carManage.paperValidate.servicePerson.perName:''}}
            <span style="font-size: 1.6em;">
              <i class="ion-ios-arrow-down"></i>
            </span>
          </span>
        </div>

        <div class="item" style="margin:1px;border-top:0px;border-bottom:1px solid #222;border-left:0px;border-right:0px;padding:10px;background: transparent">
                 <span class="input-label" style="display: inline-block;">
                  服务费:
                </span>
          <span>$40000</span>
        </div>


        <div class="bar bar-footer  bar-assertive" style="position: static" ng-click="open_carManageTAModal()">
          <h1 class="title">确认</h1>
        </div>
      </div>


      <div class="list list-inset padding" style="margin-bottom:40px;background: transparent" ng-if="service=='接送机'">

        <div class="item"
             style="margin:1px;border-bottom:1px solid #222;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color:transparent;">

          <span class="input-label" style="display: inline-block;width: 30%;text-align: left">
            目的地:
          </span>
          <span
            style="width: 45%;display: inline-block;text-align: left;"
            ng-if="carManage.airportTransfer.destiny!==undefined&&carManage.airportTransfer.destiny!==null"
            >
             {{carManage.airportTransfer.destiny.lat+','+carManage.airportTransfer.destiny.lng}}
          </span>
          <span
            ng-if="carManage.airportTransfer.destiny==undefined||carManage.airportTransfer.destiny==null"
            style="width: 45%;display: inline-block;text-align: left;color:#aaa;"
            >
            请选择目的地
          </span>
          <span ng-click="pickAirportNearby('destiny')"
                style="font-size: 1.6em;width: 30%;display: inline-block;text-align: center;">
            <i class="ion-ios-arrow-down" ></i>
          </span>
        </div>



        <div class="item"
             style="margin:1px;border-bottom:1px solid #222;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color:transparent;">

          <span class="input-label" style="display: inline-block;width: 30%;text-align: left">
            维修厂:
          </span>
          <span
            style="width: 45%;display: inline-block;text-align: left;"
            ng-if="carManage.airportTransfer.servicePlace!==undefined&&carManage.airportTransfer.servicePlace!==null"
            >
             {{carManage.airportTransfer.servicePlace}}
          </span>
          <span
            ng-if="carManage.airportTransfer.servicePlace==undefined||carManage.airportTransfer.servicePlace==null"
            style="width: 45%;display: inline-block;text-align: left;color:#aaa;"
            >
            请选择维修厂
          </span>
          <span ng-click="pickAirportNearby('maintenance')"
                style="font-size: 1.6em;width: 30%;display: inline-block;text-align: center;">
            <i class="ion-ios-arrow-down" ></i>
          </span>
        </div>

        <div class="item"
             style="margin:1px;border-bottom:1px solid #222;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color:transparent;">

          <span class="input-label" style="display: inline-block;width: 30%;text-align: left">
            服务人员:
          </span>
          <span
            style="width: 45%;display: inline-block;text-align: left;"
            ng-if="carManage.airportTransfer.servicePerson!==undefined&&carManage.airportTransfer.servicePerson!==null"
            >
             {{carManage.airportTransfer.servicePerson.perName}}
          </span>
          <span
            ng-if="carManage.airportTransfer.servicePerson==undefined||carManage.airportTransfer.servicePerson==null"
            style="width: 45%;display: inline-block;text-align: left;color:#aaa;"
            >
            请选择服务人员
          </span>
          <span ng-click="service_person_select(service_persons)"
                style="font-size: 1.6em;width: 30%;display: inline-block;text-align: center;">
            <i class="ion-ios-arrow-down" ></i>
          </span>
        </div>


        <div class="item" style="margin:1px;border-left:0px;border-right:0px;padding:10px;background: transparent">
          <span class="input-label" style="display: inline-block;width: 30%;text-align: left;">
            服务费:
          </span>
          <span style="display: inline-block;width: 75%;">
            $40000
          </span>
        </div>

        <div class="bar bar-footer  bar-assertive" style="position: static" ng-click="open_carManageTAModal()">
          <h1 class="title">确认</h1>
        </div>
      </div>


      <div class="list list-inset padding" style="margin-bottom:40px;background: transparent" ng-if="service=='取送车'">
        <div class="item"
             style="margin:1px;border-bottom:1px solid #222;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color:transparent;">

          <span class="input-label" style="display: inline-block;width: 30%;text-align: left">
            目的地:
          </span>
          <span
            style="width: 45%;display: inline-block;text-align: left;"
            ng-if="carManage.parkCar.destiny!==undefined&&carManage.parkCar.destiny!==null"
            >
             {{carManage.parkCar.destiny.lat+','+carManage.parkCar.destiny.lng}}
          </span>
          <span
            ng-if="carManage.parkCar.destiny==undefined||carManage.parkCar.destiny==null"
            style="width: 45%;display: inline-block;text-align: left;color:#aaa;"
            >
            请选择目的地
          </span>
          <span ng-click="pickParkCarNearby()"
                style="font-size: 1.6em;width: 30%;display: inline-block;text-align: center;">
            <i class="ion-ios-arrow-down" ></i>
          </span>
        </div>

        <div class="item"
             style="margin:1px;border-bottom:1px solid #222;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color:transparent;">

          <span class="input-label" style="display: inline-block;width: 30%;text-align: left">
            选择维修厂:
          </span>
          <span
            style="width: 45%;display: inline-block;text-align: left;"
            ng-if="carManage.parkCar.servicePlace!==undefined&&carManage.parkCar.servicePlace!==null"
            >
              {{carManage.parkCar.servicePlace}}
          </span>
          <span
            ng-if="carManage.parkCar.servicePlace==undefined||carManage.parkCar.servicePlace==null"
            style="width: 45%;display: inline-block;text-align: left;color:#aaa;"
            >
            请选择维修厂
          </span>
          <span ng-click="pickParkCarNearby()"
                style="font-size: 1.6em;width: 30%;display: inline-block;text-align: center;">
            <i class="ion-ios-arrow-down" ></i>
          </span>
        </div>

        <div class="item"
             style="margin:1px;border-bottom:1px solid #222;border-top:0px;border-left:0px;border-right:0px;padding:10px;background-color:transparent;">

          <span class="input-label" style="display: inline-block;width: 30%;text-align: left">
             服务人员:
          </span>
          <span
            style="width: 45%;display: inline-block;text-align: left;"
            ng-if="carManage.parkCar.servicePerson!==undefined&&carManage.parkCar.servicePerson!==null"
            >
              {{carManage.parkCar.servicePerson.perName}}
          </span>
          <span
            ng-if="carManage.parkCar.servicePerson==undefined||carManage.parkCar.servicePerson==null"
            style="width: 45%;display: inline-block;text-align: left;color:#aaa;"
            >
            请选择服务人员
          </span>
          <span ng-click="service_person_select(service_persons)"
                style="font-size: 1.6em;width: 30%;display: inline-block;text-align: center;">
            <i class="ion-ios-arrow-down" ></i>
          </span>
        </div>


        <div class="item" style="margin:1px;border-left:0px;border-right:0px;padding:10px;background: transparent">
          <span class="input-label" style="display: inline-block;width: 30%;text-align: left;">
            服务费:
          </span>
          <span style="display: inline-block;width: 75%;">
            $40000
          </span>
        </div>

        <div class="bar bar-footer  bar-assertive" style="position: static" ng-click="open_carManageTAModal()">
          <h1 class="title">确认</h1>
        </div>
      </div>


    </div>
    </ul></div></div>

  </ion-content>

</ion-view>
