<ion-view view-title="{{title}}">
  <ion-nav-bar class="bar-stable" align-title="center" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear bar_arr" ng-click="go_back()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="goto('/#/tabs/dashboard')">
        <i class="ion-ios-search-strong"></i>
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="padding cart_detail">

    <div class="item_desc">

      <div class="prop_over">
        <h4>主险</h4>
        <ion-list>
          <ion-item ng-if="key!='img'" ng-repeat="(key, value)  in item.main">
            <div class="row">
              <div class="col"><p><i class="ion-record"></i>{{key}}</p></div>
              <div class="col"><p>{{value}}</p></div>
            </div>
          </ion-item>
        </ion-list>
      </div>

      <div style="margin-top:50px">
        <span style="font-size: 1.3em">附加险</span>
      </div>

      <div class="list life_insurance_detail">
        <div class="item addition" ng-repeat="addition in item.additions" style="height: 140px;position: relative;border-left:0px;border-right:0px;">
          <div class="row">
            <div class="delete_item">
              <i class="ion-android-close"></i>
            </div>
            <div class="col det_content">
              <h3>{{addition.name}}</h3>
              <p class="price">
                保费&nbsp;&nbsp;: {{addition.gurantee_fee}}
              </p>

              <div class="row qty_div">
                <div class="col col-20">
                  <button class="button button-icon" ng-click="increment($index)">
                    <i class="ion-ios-plus-empty"></i>
                  </button>
                </div>

                <div class="col col-25">
                  <label class="item item-input">
                    <input type="number" value="{{addition.count}}">
                  </label>
                </div>

                <div class="col col-20">
                  <button class="button button-icon"  ng-click="decrement($index)">
                    <i class="ion-ios-minus-empty"></i>
                  </button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row" style="padding:0px 26px">
        <div class="delete_item">
          <i class="ion-android-close"></i>
        </div>
        <div class="col det_content">

          <h4>
            合计&nbsp;&nbsp;:   <span>{{total}}</span>
          </h4>
        </div>
      </div>

      <button class="button button-block button-positive comm_btn" ng-click="changeState()">
        保存修改
      </button>
      <button ng-click="checkCarInfo()" class="button button-block button-positive comm_btn">
        提交
      </button>


    </div>
  </ion-content>
</ion-view>
