<ion-popover-view style="height: 32%;width: 30%;left:0px;">
  <ion-content>
    <div class="list">
      <div class="item" ng-click="tab_change(0);closePopover();">
        全部
      </div>
      <div class="item" ng-click="tab_change(1);closePopover();">
        维修
      </div>
      <div class="item" ng-click="tab_change(2);closePopover();">
        车驾管
      </div>
      <div class="item" ng-click="tab_change(3);closePopover();">
        钣喷
      </div>
    </div>
  </ion-content>
</ion-popover-view>
