<ion-view  name="login-view">
  <ion-nav-bar>
  </ion-nav-bar>
  <ion-content class="login_background">

    <div style="margin-top:30%;margin-bottom:30%;">
        <img src="img/jiehuibao.png"/>
    </div>

    <label class="item item-input">
      <input type="text" placeholder="用户名/手机号" ng-model="user.username">
    </label>

    <label class="item item-input" >
      <input type="password" placeholder="密码" ng-model="user.password">
    </label>

    <button class="button button-block button-calm" ng-click="doLogin()">
        登录
    </button>

    <button style="padding:5%;margin-right:35%;" ng-click="goRegister()">
      注册新用户
    </button>
    <button style="padding:5%;" ng-click="">
      忘记密码
    </button>


  </ion-content>
</ion-view>
