<ion-view view-title="订单详情">
  <ion-nav-bar class="bar-assertive" align-title="center" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear bar_arr" ng-click="go_back()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="goto('/#/tabs/dashboard')">
        <i class="ion-ios-search-strong"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <div class="list" style="margin-bottom: 0px;">
      <div class="item" style="border: 0px;background: rgba(45, 42, 42, 0.78);color:#fff;">

      </div>
    </div>

    <div class="list padding" style="text-align: center;margin-top: 35%;">

      <div class="item"  style="border:0px;width: 80%;margin-left:10%;border-bottom: 2px solid #9e9e9e;">
        <span style="display: inline-block;width: 60%;text-align: left">
          车牌号:
        </span>
        <span style="display: inline-block;width: 40%;">
         {{order.carId}}
        </span>
      </div>

      <div class="item"  style="border:0px;width: 80%;margin-left:10%;border-bottom: 2px solid #9e9e9e;">
        <span style="display: inline-block;width: 60%;text-align: left">
          地点:
        </span>
        <span style="display: inline-block;width: 40%;">

          {{order.servicePlace}}
        </span>
      </div>

      <div class="item"  style="border:0px;width: 80%;margin-left:10%;border-bottom: 2px solid #9e9e9e;">
        <span style="display: inline-block;width: 60%;text-align: left">
          预约时间:
        </span>
        <span style="display: inline-block;width: 40%;">

          {{order.estimateTime}}
        </span>
      </div>

      <div class="item"  style="border:0px;width: 80%;margin-left:10%;border-bottom: 2px solid #9e9e9e;">
        <span style="display: inline-block;width: 60%;text-align: left">
          服务费:
        </span>
        <span style="display: inline-block;width: 40%;">
          {{order.fee}}
        </span>
      </div>

      <div class="item"  style="border:0px;width: 80%;margin-left:10%;border-bottom: 1px solid #9e9e9e;">
        <span style="display: inline-block;width: 60%;text-align: left">
          服务内容:
        </span>
        <span style="display: inline-block;width: 40%;">
          {{order.subServiceTypes}}
        </span>
      </div>

    </div>

    <button class="button button-block button-positive"
            ng-if="order.orderState==1"
            ng-click="cancleOrder(-1)"
    >
      取消订单
    </button>

    <div ng-if="order.orderState==2">
      <button class="button button-block button-positive" ng-click="cancleOrder(-1)">
        取消订单
      </button>
      <button class="button button-block button-positive" ng-click="cancleOrder(3)">
        订单完成
      </button>
    </div>


  </ion-content>

</ion-view>
