<ion-view view-title="我的">

  <ion-nav-bar class="bar-stable" align-title="center" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear bar_arr" ng-click="go_back()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="goto('/#/tabs/dashboard')">
        <i class="ion-ios-search-strong"></i>
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>


  <ion-content scroll="true" class="padding" lazy-scroll>

    <ion-list ng-repeat="order in orders">
      <ion-item class="item item-icon-right" ng-click="go_to(item.href)">
        <span>
          被保险人:
        </span>
        {{order.insuranced}}

      </ion-item>

      <ion-item>
            <span>
          合计:
        </span>
        {{order.total}}
      </ion-item>
    </ion-list>

  </ion-content>




</ion-view>
