
<ion-view >


  <ion-nav-bar class="bar-stable" align-title="center" >


    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear bar_arr" ng-click="go_back()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-title>

    </ion-nav-title>


    <ion-nav-buttons side="right">

      <button class="button button-icon button-clear" >
        <i class="ion-plus"></i>
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>


  <ion-content scroll="false">


    <div class="list" style="margin-bottom: 0px;">
      <ul class="ul-tabs dark-theme" style="background: rgb(203,203,203)">
        <li style="width:33.3%;">
          <div class="cell"
               ng-class="{true: 'selected', false: ''}[tabIndex==0]"
               ng-click="tab_change(0)">
            <span style="position:absolute;left: 20%;top:40%;">
              基础套餐
            </span>
          </div>
        </li>


        <li style="width:33.3%">
          <div class="cell"
               ng-class="{true: 'selected', false: ''}[tabIndex==1]"
               ng-click="tab_change(1)">
            <span style="position:absolute;left: 20%;top:40%;">
              建议套餐
            </span>

          </div>
        </li>


        <li style="width:33.3%">
          <div class="cell"
               ng-class="{true: 'selected', false: ''}[tabIndex==2]"
               ng-click="tab_change(2)">
            <span style="position:absolute;left: 25%;top:40%;">
              自定义
            </span>

          </div>
        </li>

      </ul>
    </div>



    <ion-scroll style="height: 100%;margin-top:2px;">
      <!-- 基础套餐 -->
      <div ng-if="tabIndex==0">

        <div class="row"
             ng-repeat="item in tabs[tabIndex].insurances"
             style="border-bottom:1px solid #eee;padding:0px;margin-bottom:6px">
          <div class="col-80">
            <label class="item"
                   style="border:0px;display: inline-block;width: 60%">
              {{item.name}}
            </label>
            <label class="item" style="border:0px;display: inline-block"
                   ng-click="price_select(item,item.prices)">
              保额:
            <span ng-if="item.price!=undefined&&item.price!=null">
              {{item.price}}
            </span>
              <i class="ion-ios-arrow-down" ng-if="item.prices!==undefined&&item.prices!==null"></i>
            </label>
          </div>

        </div>

      </div>

      <!-- 建议套餐 -->
      <div ng-if="tabIndex==1">
        <div class="row"
             ng-repeat="item in tabs[tabIndex].insurances"
             style="border-bottom:1px solid #eee;padding:0px;margin-bottom:6px">

          <div class="col-80" ng-if="item.specials!=undefined">
            <label class="item"
                   style="border:0px;display: inline-block;width: 50%"
                   ng-click="openSpecialModal()">
              {{item.name}}
              <i class="ion-ios-arrow-down"></i>
            </label>
            <label class="item" style="border:0px;display: inline-block">
              保额:
            <span >
              {{item.price}}
            </span>
            </label>
          </div>

          <div class="col-80" ng-if="item.specials == undefined">
            <label class="item"
                   style="border:0px;display: inline-block;width: 50%">
              {{item.name}}
            </label>
            <label class="item" style="border:0px;display: inline-block"
                   ng-click="price_select(item,item.prices)">
              保额:
              <span ng-if="item.price!=undefined&&item.price!=null">
              {{item.price}}
            </span>
              <i class="ion-ios-arrow-down" ng-if="item.prices!==undefined&&item.prices!==null"></i>
            </label>
          </div>

        </div>

      </div>


      <!-- 自定义套餐 -->
      <div ng-if="tabIndex==2">
        <div class="row"
             ng-repeat="item in tabs[tabIndex].insurances"
             style="border-bottom:1px solid #eee;padding:0px;margin-bottom:6px">

          <div class="col-80">
            <label class="item"
                   style="border:0px;display: inline-block;width: 50%">
              {{item.name}}
            </label>
            <label class="item" style="border:0px;display: inline-block"
                   ng-click="price_select(item,item.prices)">
              保额:
            <span ng-if="item.price!=undefined&&item.price!=null">
              {{item.price}}
            </span>
              <i class="ion-ios-arrow-down" ng-if="item.prices!==undefined&&item.prices!==null"></i>
            </label>
          </div>

          <div class="col-20" style="position: relative">
            <li class="item item-checkbox" style="border: 0px;position: absolute;top:25%">
              <label class="checkbox specials">
                <input type="checkbox" ng-model="item.checked">
              </label>
            </li>
          </div>

        </div>
      </div>


    </ion-scroll>



    <div class="bar bar-footer bar-balanced" ng-click="openCompanyModal()" >
      <div class="title">确认套餐</div>
    </div>


  </ion-content>

</ion-view>
