<ion-view view-title="更改车辆信息">
  <ion-nav-bar class="bar-stable" align-title="center" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear bar_arr" ng-click="go_back()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="goto('/#/tabs/dashboard')">
        <i class="ion-ios-search-strong"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <!-- 车险 -->

    <div style="height: 100%;">

        <div class="list list-inset padding" style="margin-bottom:40px;background-color: transparent;">
          <div class="item"
               style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;">

            <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
              车牌:
            </span>
            <span style="width: 65%;display: inline-block;text-align: left;">
              <input type="text" placeholder="请输入您的车牌"
                     style="display:inline-block;background-color: transparent;"
                     ng-value="carInfo.carNum"
                     ng-model="carInfo.carNum"
                     ng-focus="focusInCarNum()"
                     ng-blur="blurCarNum()"
                />
            </span>
            <span
              class="camera"
              style="position: absolute;right:5%;top:30%;font-size: 1.5em;"
              ng-click="selectCarInfoByCarNum()"
              >
            <i class="ion-chevron-down"></i>
          </span>
          </div>

          <!-- 车主姓名 -->
          <div class="item"
               style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;">
            <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                姓名:
            </span>
            <span style="width: 65%;display: inline-block;text-align: left;">
               <input type="text" placeholder="请输入车主姓名"
                      style="display:inline-block;background-color: transparent;"
                      ng-value="carInfo.ownerName"
                      ng-model="carInfo.ownerName"
                 />
            </span>
          </div>

          <div class="item"
               style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;"
               ng-click="datepick(carInfo,'issueDate')"
            >
            <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                发证日期:
            </span>

            <span style="display: inline-block;width: 65%;color:#888;font-size: .9em;text-align: left;">
                {{carInfo.issueDate!==undefined&&carInfo.issueDate!==null?carInfo.issueDate:'点击选择发证日期'}}
            </span>

            <span
              style="position: absolute;right: 5%;top:30%;font-size: 1.5em;"
              >
                <i class="ion-calendar"></i>
            </span>
          </div>


          <div
            class="item item-divider"
            style="margin:1px;border:0px;padding:10px;position: relative;background-color:transparent;"
            >
            <span>绑定车辆信息</span>
          </div>

          <!-- 车辆信息tab -->
          <div class="list" style="margin-bottom: 20px;">
            <ul class="ul-tabs transparent"
                style="background: rgb(203,203,203);background-color: transparent;border-bottom: 0px;">

              <li style="width:50%;">
                <div class="cell"
                     ng-class="{true: 'selected', false: ''}[licenseIndex==0]"
                     ng-click="licenseIndexChange(0)"
                     style="background-color: transparent;"
                  >
                <span style="position:absolute;left: 20%;top:40%;color: black;">
                  填写信息
                </span>
                </div>
              </li>

              <li style="width:50%;">
                <div class="cell"
                     ng-class="{true: 'selected', false: ''}[licenseIndex==1]"
                     ng-click="licenseIndexChange(1)"
                     style="background-color: transparent;position: relative"
                  >
                <span style="position:absolute;left: 20%;top:40%;color: black;" ng-click="">
                  上传行驶证
                </span>
                </div>
              </li>
            </ul>
          </div>

          <ion-slide-box
            on-slide-changed="licenseSlideChanged($index)"
            style="background-color: transparent;"
            delegate-handle="carInfo-slide">
            <ion-slide style="overflow: initial">

              <div class="item"
                   style="margin:1px;border:0px;
               padding:10px;background-color:transparent;overflow: initial"
                >
              </div>

              <div class="item"
                   style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
               padding:10px;background-color:transparent;overflow: initial">
                <span  style="display: inline-block;width: 25%;text-align: left">
                    厂牌型号:
                </span>

              <span style="width: 60%;display: inline-block;text-align: left;">

                  <input type="text" placeholder="输入厂牌型号"
                         style="display:inline-block;background-color: transparent;" ng-value="carInfo.factoryNum"
                         ng-model="carInfo.factoryNum"
                         ng-focus="focusInFactoryNum()"
                         ng-blur="blurFactoryNum()"
                    />
                </span>

              <span style="display: inline-block;width:15%;position: relative">
                <div style="width: 100%;text-align: center" ng-click="setIsShowPicture()">
                  <i class="ion-help-circled" style="font-size: 1.5em;" ></i>
                </div>
                <div
                  ng-class="factoryNumHint"
                  style="position: absolute;top:-133%;right: 1px ">
                  <div class="item"
                       style="padding: 2px;font-size: 0.5em;margin-top:2px;background: #444;color:#fff;border:0px;"
                       ng-click="tab_change(0);closePopover();">
                    点击此按钮可以查看厂牌型号示例
                  </div>

                  <div style="color:#f9f9f9;position: relative;height: 18px;margin-top:-7px;" >
                     <span style="position: absolute;right: 7.5%;color: #444;font-size: 1.1em;top:0px;">
                       <i class="ion-arrow-down-b"></i>
                     </span>
                  </div>
                </div>
              </span>
              </div>

              <div class="item"
                   style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
               padding:10px;background-color:transparent;overflow: initial">

                <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                  发动机号:
                </span>
              <span style="width: 60%;display: inline-block;text-align: left;">
                  <input type="text" placeholder="输入发动机号"
                         style="display:inline-block;background-color: transparent;" ng-value="carInfo.engineNum"
                         ng-model="carInfo.engineNum"
                         ng-focus="focusInEngineNum()"
                         ng-blur="blurEngineNum()"
                    />
                </span>
              <span style="display: inline-block;width:15%;position: relative">

                  <div style="width: 100%;text-align: center" ng-click="setIsShowPicture1()">
                    <i class="ion-help-circled" style="font-size: 1.5em;" ></i>
                  </div>

                  <div ng-class="engineNumHint"
                       style="position: absolute;bottom:-120%;right: 1px ">

                    <div style="color:#f9f9f9;position: relative;height: 18px;" >
                       <span style="position: absolute;right:7.5%;font-size: 1.1em;top:0px;color:#e61d1d;">
                         <i class="ion-arrow-up-b"></i>
                       </span>
                    </div>

                    <div class="item"
                         style="padding: 2px;font-size: 0.3em;"
                      >
                      点击此按钮可以查看发动机号示例
                    </div>

                  </div>
                </span>
              </div>

              <div class="item"
                   style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
               padding:10px;background-color:transparent;overflow: initial">

                <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                  车架号:
                </span>
              <span style="width: 60%;display: inline-block;text-align: left;">
                  <input type="text" placeholder="设置车架号"
                         style="display:inline-block;background-color: transparent;"
                         ng-value="carInfo.frameNum"
                         ng-model="carInfo.frameNum"
                         ng-focus='focusInFrameNum()'
                         ng-blur="blurFrameNum()"
                    />
                </span>
              <span
                style="display: inline-block;width:15%;position: relative">


                 <div style="width: 100%;text-align: center" ng-click="setIsShowPicture2()">
                   <i class="ion-help-circled" style="font-size: 1.5em;" ></i>
                 </div>

                  <div ng-class="frameNumHint"
                       style="position: absolute;bottom:-120%;right: 1px ">

                    <div style="color:#f9f9f9;position: relative;height: 18px;" >
                       <span style="position: absolute;right: 7.5%;font-size: 1.1em;top:0px;color:#e61d1d;">
                         <i class="ion-arrow-up-b"></i>
                       </span>
                    </div>

                    <div class="item"
                         style="padding: 2px;font-size: 0.3em;"
                      >
                      点击此按钮可以查看车架号示例
                    </div>

                  </div>
                </span>
              </div>

            </ion-slide>

            <ion-slide>
              <div class="item"
                   style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
             padding:10px;position: relative;background-color:transparent;">
              <span class="input-label" style="display: inline-block;width: 25%;text-align: left;">

              </span>
              <span
                style="width: 65%;display: inline-block;text-align: left"
                ng-click="open_uploadLicenseCardModal()"
                >
                 <button class="button button-calm">
                   上传行驶证
                 </button>
              </span>
              <span
                style="width: 10%;display: inline-block;font-size: 1.5em;"
                >
              </span>

              </div>



            </ion-slide>

          </ion-slide-box>

          <div class="list list-inset padding" style="margin-bottom:40px;background-color:transparent;">
            <div class="bar bar-footer  bar-assertive" style="position: static" ng-click="postCarInfo()">
              <h1 class="title">保存车辆信息</h1>
            </div>
          </div>

        </div>

    </div>



  </ion-content>

</ion-view>
