<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.danding.localFileConvert" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>localFileConvert</name><js-module name="localFileConvert" src="www/localFileConvert.js"><clobbers target="cordova.plugins.localFileConvert" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="localFileConvert"><param name="android-package" value="com.danding.localFileConvert.localFileConvert" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/localFileConvert.java" target-dir="src/com/danding/localFileConvert/localFileConvert" /></platform></plugin>